/* INPUTS */
.inputBox {
  position: relative;
}

input[type="date"] {
    -webkit-appearance: none; /* Remove o estilo padrão do Safari */
    -moz-appearance: none;    /* Remove o estilo padrão do Firefox */
    appearance: none;
}
input[type="date"] {
    width: 100%;
    padding: 15px !important;
    border: 1px solid rgba(83, 83, 83, 0.25) !important;
    background: #f2f2f2 !important;
    outline: none !important;
    color: #1d2b3a;
    font-size: 1rem;
    border-radius: 5px !important;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.inputBox input {
  width: 100%;
  padding: 15px !important;
  border: 1px solid rgba(83, 83, 83, 0.25) !important;
  background: #f2f2f2 !important;
  outline: none !important;

  color: #1d2b3a;
  font-size: 1rem;
  border-radius: 5px !important;
}

.inputBox span {
  position: absolute !important;
  left: 0 !important;
  padding-inline: 25px !important;
  padding-block: 15px;
  pointer-events: none !important;
  font-size: 0.95rem !important;
  color: rgba(3, 3, 3, 0.25);

  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #cca332 !important;
  transform: translateX(20px) translateY(-7px) !important;
  font-size: 0.66rem !important;
  padding: 0 10px !important;
  background: #f2f2f2;
  border-left: 1px solid #cca332 !important;
  border-right: 1px solid #cca332 !important;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #cca332 !important;
}
@media (max-width: 768px) {
    .inputBox input {
      font-size: 0.9rem;
      padding: 10px;
    }
  }
